{% extends '_base.html' %}

{% block content %}
<!-- Content section for Our Story, Our Team, and Our Mission -->
<section class="max-w-4xl mx-auto mt-8 p-4">

    <!-- Our Story -->
    <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Our Story</h2>
        <p>
            Welcome to A-tech Gadger and Accessories! We are dedicated to supplying quality gadgets at affordable prices.
            Our journey began in 2015, and since then, we have been committed to providing solutions to customers' requests.
        </p>
    </div>

    <!-- Our Team -->
    <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Our Team</h2>
        <p>
            Meet the talented individuals who make up our team. Each member contributes unique skills and passion to
            A-Tech. Together, we strive to quality service delivery and a satisfying customer experience.
        </p>
    </div>

    <!-- Our Mission -->
    <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Our Mission</h2>
        <p>
            At [Your Company/Organization Name], our mission is to [briefly state your mission]. We are committed to
            [key principles or values] and work towards [specific goals or objectives].
        </p>
    </div>

</section>
{% endblock content %}
