{% extends '_base.html' %}
{% block content %}
<body class="bg-green-50">
    <div style="width: 1172px; height: 751px; position: relative">
        <div style="width: 586px; height: 704px; left: 600px; top: 40px; position: absolute; background: #96EFFF; border-radius: 440.50px"></div>
        <div style="width: 526.36px; height: 441px; left: 658px; top: 223px; position: absolute">
          <img style="width: 525.45px; height: 441px; left: -10px; top: -50px; position: absolute" src="https://img.freepik.com/premium-vector/gadgets-electronic-large-set_146957-836.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1710028800&semt=ais" />
          <div style="width: 398.07px; height: 411.24px; left: 0px; top: 10.95px; position: absolute">
            <div style="width: 367.98px; height: 381.69px; left: 30.10px; top: -0px; position: absolute">
              <div style="width: 7.82px; height: 7.82px; left: 215.01px; top: 47.75px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #7B66FF; border-radius: 2.29px"></div>
              <div style="width: 7.82px; height: 7.82px; left: 356.92px; top: 376.16px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #7B66FF; border-radius: 2.29px"></div>
            </div>
            <div style="width: 355.66px; height: 382.31px; left: -0px; top: 28.93px; position: absolute">
                <div style="width: 32.60px; height: 32.60px; padding-top: 2.72px; padding-bottom: 2.71px; padding-left: 2.72px; padding-right: 2.72px; justify-content: center; align-items: center; display: flex">
                </div>
              </div>
                <div style="width: 32.60px; height: 32.60px; padding: 2.72px; justify-content: center; align-items: center; display: flex">
                </div>
              </div>
                <div style="width: 32.60px; height: 32.60px; padding-top: 2.72px; padding-bottom: 3.08px; padding-left: 2.72px; padding-right: 2.73px; justify-content: center; align-items: center; display: flex">
                  <img style="width: 27.16px; height: 26.81px" src="https://via.placeholder.com/27x27" />
                </div>
              </div>
            </div>
        <div style="width: 427px; height: 220px; left: 80px; top: 223px; position: absolute; color: black; font-size: 60px; font-family: Prosto One; font-weight: 400; word-wrap: break-word">Your satisfaction is our commitment</div>
        <div style="width: 477px; height: 70px; left: 26px; top: 550px; position: absolute; background: #96EFFF; border-radius: 10px"></div>
          

       {% endblock content %}